@model Boarding

<div class="card mt-3 mb-3">
    <div class="card-title p-3">
        <h3>@Model.BoardingTime</h3>
        <h4>@Model.Position</h4>
    </div>
    <div class="card-body">
        <span>@Model.Description</span>
        
    </div>
    <div class="card-footer">
        <a class="btn mb-1"
           asp-page="./Detail"
           asp-route-boardingId="@Model.Id">
            <i>
                
            </i>
            Details
        </a>
        <a class="btn mb-1"
           asp-page="./Edit"
           asp-route-boardingId="@Model.Id">
            <i>
                📑
            </i>
            Edit
        </a>
        <a class="btn mb-1"
           asp-page="./Delete"
           asp-route-boardingId="@Model.Id">
            <i>
                🗑️
            </i>
            Delete
        </a>
    </div>
</div>
